<div style="text-align: center;">
    <div class="header_logo">
        <h1>Pragmatic</h1>
    </div>
    <div class="header_button">
        <span>nav1</span>
        <span>nav2</span>
        {% if not user.is_authenticated %}
            <span><a href="{% url 'accountapp:login' %}">로그인</a> </span>
            <span><a href="{% url 'accountapp:create' %}">회원가입</a> </span>
        {% else %}
            <span><a href="{% url 'accountapp:detail' pk=user.pk %}">내 페이지</a> </span>
            <span><a href="{% url 'accountapp:logout' %}">로그아웃</a> </span>
        {% endif %}
    </div>
</div>